:root {
    --bg-color: #030313;
    --bg-highlight-color: #000010;
    --bg-notification-color: #ffff99;
    
    --txt-color: #dddddd;
    --pos-color: #77cc55;
    --neg-color: #dd6688;
    --bg-color-missgame: #330000;
    --border-color: #505060;
    --border-selected-color: #777788;
    --header-bg-color: #282838;
    --link-color: #dddddd;
    --button-color: #cdd3e8;
    --panel-bgcolor:#181828;
    --table-top-header-bg-color: #404050;
    --table-header-bg-color: #303040;
    --table-header-txt-color: #dddddd;
    --table-highlight-color: #202030;
    --corner-radius: 4pt;
    --header-height: 40pt;
    --line-height: 13pt;
  }
  .menu a, .header a, .menu button{
      background-color: #505060;
      color: #dddddd;
  }

  .menu a:hover,  button:hover{
      border: 1pt solid #cccccc;
  }
   button:hover{
    border: 1pt solid #cccccc;
}

  .HelpPanel a:hover{
      background-color: #505060;;
  }
  .HelpPanel a{
    background-color: var(--header-bg-color);
}

  input{
      background-color: #202030;
      color:#dddddd;
      border: 1pt solid #404050;
  }
  .cupRoundTable{
    -webkit-box-shadow: 0px 0px 3pt 1pt rgba(255,255,255,0.2);
-moz-box-shadow: 0px 0px 3pt 1pt rgba(255,255,255,0.2);
box-shadow: 0px 0px 3pt 1pt rgba(255,255,255,0.2);
border-radius: 6pt;
width:100%;
}
.mainLogo a{ background: #282838; }
button{ background: #282838; }

