

.replaydiv{
    height:100%;
}
.replaydiv table{
    width: 100%;
}

.logdiv{
    overflow:scroll;
    height:400pt;
}
.replay-log{
    height:600pt; overflow-y:scroll;
}

.replay-log button {display:block; white-space: normal;}

.replay-log-row {font-size: 12pt; display:block; width:100%;  cursor:hand !important; text-align: left;}

.replay-log-row img{width:16pt; height:16pt; }
.replay-selected{ background:var(--border-selected-color) !important;}

.sliderDiv {height:50pt;}
.replay-slider a{width:12pt; display:inline-block; text-align: center;}
.replay-slider button{width:75pt;}
.replay-slider .selected { font-weight: bold; border: 2pt solid var(--txt-color); border-radius: 50%;  }

.replay-sliderteam1 { background-color: var(--team1-color);}
.replay-sliderteam2 { background-color: var(--team2-color);}

.teamplayer0{ background-color: var(--team1-color);}
.teamplayer1{ background-color: var(--team2-color);}
.playersize {width:18pt;height:18pt; position:relative; left: 6pt; top:20pt; border-radius: 50%; border: 1pt solid var(--bg-color);}
.playersize_small {width:12pt;height:12pt;position:relative; left: 7.5pt; top:25pt;border-radius: 50%; border: 1pt solid var(--bg-color);}
.playersize_big {width:22pt;height:22pt; position:relative; left: 4pt; top:17pt;border-radius: 50%; border: 1pt solid var(--bg-color);}
.playersize_huge {width:28pt;height:28pt;position:relative; left: 0pt; top:15pt; border-radius: 50%; border: 1pt solid var(--bg-color);}


.replay-team1
{
    background: var(--team1-color); border-radius: 5pt; padding-left: 5pt; padding-right:5pt; 
}
.replay-team2
{
    background:var(--team2-color);border-radius: 5pt;  padding-left: 5pt; padding-right:5pt;
}
td.replay-header {
width:50%; font-size: 24pt;
}
.replay-result{
    font-size:24pt;
}
.replay-pitch{
    position: relative;
}
.replay-pitch-head{
    position: absolute;top:0pt;
}
.replay-avatars{
    position: absolute;
    top:0pt;
    height: 200pt;
    margin:0pt;
    padding:0pt;


}
.replay-pitch-bg{
    position: relative; width:100%;
}

.replay-pitch-floor{
    position: absolute;
    top:0pt;
}
.replay-pitch-floor img{
    margin-top:-10pt;
}

.avatarDiv{
    position: absolute;
}

.replay-avatar{
    position:absolute;
    margin-top:-20pt;
    margin-left:-3pt;
}

.flipX {-moz-transform: scaleX(-1); -o-transform: scaleX(-1);-webkit-transform: scaleX(-1);transform: scaleX(-1);}
.flipY {-moz-transform: scaleY(-1); -o-transform: scaleY(-1);-webkit-transform: scaleY(-1);transform: scaleY(-1);}
.flipXY {-moz-transform: scale(-1,-1); -o-transform: scale(-1,-1);-webkit-transform: scale(-1,-1);transform: scale(-1,-1);}
.replay-good{
    border: 2px solid green;
    border-radius: 3px;
}
.replay-bad{
    border: 2px solid red;
    border-radius: 5px;
}

.replay-control 
{
    
    cursor:pointer;
    font-size:22px;
    margin:3px;
    padding:3px;
    padding-top:0px;
    border: 2px solid black;
    border-radius:5px; 
    min-width:40px;
    width:100%;
}

.replay-sliderteam0{
    font-size:12px;
    min-width:15px;
    text-align:center;
    
}
.replay-log-row img
{
    vertical-align: bottom;
}

.replay-avatar :hover
{
    box-shadow: 0px 0px 20px #fff;
    background: rgba(255, 255, 255, 0.6);
}

.replay-block{
    background:black;
    border-radius:15px;
    border: 1px solid white;
}
.replay-selected
{
	background-color:#444444;
    border: 1px solid #aaaaaa;
}
.replay-avatar-selected{
    box-shadow: 0px 0px 20px #fff;
    background: rgba(255, 255, 255, 0.6);
}

.avatar-card{
  background-color: var(--bg-highlight-color);
}
.avatar-card th{
    background-color: var(--header-bg-color);
  }


.newturn{ width:100%;}

.playername { font-weight: 500; font-style: italic; }

.injuryimage { margin-top:3pt; } 