.GSpyTable .hidden{
    display:none;
}

.GSpyTable{
    border-spacing:0;
    background:var(--bg-highlight-color);
    border:none;
    border-bottom: 1pt solid var(--border-color);
    flex-grow: 1;
    table-layout: auto;
    min-height: 25pt;
    margin-bottom: 5pt;
    
    width: 100%;
}


.GSpyTable thead th {
    background:var(--table-header-bg-color);
    color:var(--table-header-txt-color);
    font-weight:600 ;
    white-space: nowrap;
    text-align:right;
    padding-left:3pt;
    padding-right:3pt;
    vertical-align: top;
    
}

.GSpyTable thead td{
    background:var(--table-top-header-bg-color);
    border: 1pt solid var(--border-color);
    border-width: 1pt 1pt 0pt 1pt;
    border-radius: 5pt 5pt 0pt 0pt;
    font-weight:600 ;
    padding-left:3pt;
    padding-right:3pt;
    text-align:center;
    white-space: nowrap;
}



.GSpyTable .leftCell{
    border: 1pt  solid var(--border-color);
    border-width: 0pt 0pt 0pt 1pt;
}

.GSpyTable .rightCell{
    border: 1pt  solid var(--border-color);
    border-width: 0pt 1pt 0pt 0pt;
}



.GSpyTable .idorigin, .GSpyTable .league_name, .GSpyTable .competition_name, .GSpyTable .coach_name, .GSpyTable .team_name, .GSpyTable .logo, .GSpyTable .idrace,
.GSpyTable .score_away, .GSpyTable .idteam_home, .GSpyTable .team_name_home, .GSpyTable .idcoach_home, .GSpyTable .coach_name_home, .GSpyTable .logo_home,
.GSpyTable .player_name, .GSpyTable .idplayertype, .GSpyTable .skills, .GSpyTable .cas_state, .GSpyTable .cas_sustained,
.GSpyTable .userdate,.GSpyTable  .collection_name ,.GSpyTable .description
{ 
    text-align: left !important;
}

.GSpyTable tbody tr:hover td{
    background-color: var(--table-highlight-color) !important;
}
.GSpyTable th button, .GSpyTable td button{
    border:none; background:none; margin:0pt; padding:0pt;
}

.GSpyTable .currentFilter{
    background-color: var(--bg-notification-color) !important;
    border-radius: var(--corner-radius);
}

.CompTeamSchedule-empty{
    width:100%; height:1pt;
}

.neg{
    color: var(--neg-color);
}
.pos{
    color: var(--pos-color);
}

.headerTools{
    position:absolute;
    background-color: var(--bg-highlight-color);
    
    border:solid;
    border-color: var(--border-color);
    border-width: 1pt;
    border-radius: var(--corner-radius);
    margin-top:-40pt;
    margin-left:-20pt;
    text-align: center;
    padding: 15pt;
    padding-top:5pt;
    padding-bottom:10pt;
    min-width: 100pt;
}

.headerTools button img{
    width:16pt;
    height:16pt;
    margin:4pt;
    padding:0pt;
    margin-top:-6pt;
    margin-bottom:-2pt;
}



.headerFilterEdit{
    position:absolute;
    background-color: var(--bg-highlight-color);
    border:solid;
    border-color: var(--border-color);
    border-width: 1pt;
    border-radius: var(--corner-radius);
    width:300pt;
    
    margin-top:-70pt;
    padding:10pt;
    white-space: pre-wrap;
    text-align: left;
}
.headerFilterEdit h3{ margin:0pt; margin-top:-5pt; margin-bottom: 5pt;}
.headerFilterEdit input {width:295pt;}
.headerFilterEdit img {
    width:16pt;     
    height:16pt;     
    margin-top:-6pt;
    margin-bottom:-4pt;}
.headerFilterEdit button {border-radius: 50%; margin:0pt; padding-top:0; }
.headerFilterEdit .toolButton {position: absolute; right:0pt; margin-top: -4pt;}
.removeFilter {float:right; color: red; margin-right: 5pt;}
.headerFilterEdit .executeFilter {float:right; border-radius: 4px;  margin-right: 5pt;}


.headerFilterEdit .editHelpText{
    font-size: smaller;
    font-weight: normal;
}
.headerFilterEdit .editHelpText ul{
    margin:0pt; margin-left:-15pt;
}

.missGame td {
    background-color: var(--bg-color-missgame);
}
.inactive td {
    opacity: 0.65;
}

.tableToolContainer 
{
    position: relative;    
}

.HelpPanel div.content div.menu a{
    line-height: 20pt;
}
.tableTools{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
.tableTools button{
    padding:0pt;
    margin:0pt;
    margin-top:-2pt;
    border-radius: 50%;
    margin-left:5pt;
}
.tableTools span{
    margin-left: 5pt;
}

.tableTools img{
    width:16pt;
    height:16pt;
    margin-bottom:-2pt;

}

.GSpyTable tbody tr td{
    text-align: right;
    white-space: nowrap;
    padding-left:3pt;
    padding-right:3pt;
    width:5pt;
    
}


td.player_name, td.team_name, td.coach_name, td.coach_name_home, td.team_name_home   {
    overflow: hidden; 
    width:400pt ;
}

td.logo,th.logo{
    max-width:20pt;
}


.GSpyTable .selected {
    background-color: var(--table-highlight-color);;
}

.GSpyTable.MatchTeamsView th.spacer,.GSpyTable.MatchTeamsPlayView th.spacer,.GSpyTable.MatchTeamsKillView th.spacer{
    width:100%;
}

.CompTeamMatches .coach_name_away,.CompTeamMatches .team_name_away,.CompTeamMatches .idrace_away{ text-align: left !important;}

@media only screen and (max-width: 1100px) {
    .num_coaches,.num_teams,.num_matches,.cas_diff,.cas,.cas_opp, .gp,.td_diff, .CompStandingsView .coach_name, .coach_name_home,.coach_name_away, .cas_home,.cas_away {overflow:hidden; 
        max-width:0pt ; width:0pt; margin:0pt !important; padding:0pt !important;width:5pt !important; }
        .team_name,.team_name_home,.team_name_away {overflow: hidden; max-width: 100pt !important;}
        .num_coaches span,.num_teams span,.num_matches span,   .cas_diff span,.cas span,.cas_opp span, .gp span,.td_diff span, .CompStandingsView  .coach_name span, .coach_name_home span,.coach_name_away span, .cas_home span,.cas_away span{color:rgba(0,0,0,0) !important;}
        .num_coaches,.num_teams,.num_matches,.cas_diff a,.cas a,.cas_opp a, .td_diff a, .CompStandingsView  .coach_name a, .coach_name_home a,.coach_name_away a, .cas_home a,.cas_away a{color:rgba(0,0,0,0) !important;}
    
        .SearchBar input {width:50pt;}
  }
  @media only screen and (max-width: 750px) {
  }



/*
table.MatchPlayersView , table.MatchTeamsView{
    table-layout:fixed;
    width:auto;
}
.MatchPlayersView .player_name,.MatchPlayersView .team_name {
    min-width:100pt;
    max-width:100pt;
    overflow:hidden;
}
.MatchPlayersView .idplayertype{
    min-width:60pt;
    max-width:60pt;
    overflow:hidden;
}
.MatchPlayersView .skills{
    min-width:150pt;
    max-width:150pt;
    white-space: pre-wrap;
}
.MatchPlayersView .cas_state, .MatchPlayersView .cas_sustained{
    min-width:20pt;
    max-width:20pt;
    white-space: pre-wrap;
}
*/