

.GSpyChart{
    border-spacing:0;
    background:var(--bg-highlight-color);
    border:none;
    

}
.GSpyChart .GSpyTable{
 
}

.GSpyChart .GSpyTable tbody tr:hover td{
    background: none !important;
}

.bothCell{
    border: 1pt  solid var(--border-color);
    border-width: 0pt 1pt 0pt 1pt;
}

.chartContainer{
    position:relative;
    height:150pt;
    width:99%;
}