.HeaderPath{
  margin-left:5pt;
}
.pathItems{
    
    margin-top:-6pt;
    line-height: 16pt;
    white-space: normal;
  }


  
  .pathItems div {
    white-space:nowrap;
    display:inline-block;
    background: none;
    font-weight: 500;
    font-size:16pt;
    margin-top:8pt;

}

  .pathItems a{
    font-size:14pt;
      border-radius: 7pt;
      padding:0pt 5pt 0pt 5pt;
  }

  .separator{
      width:0pt;
  }