.Popup{
    backdrop-filter: blur(1px);
    text-align: center;
    vertical-align: middle;
    bottom:0pt;
    width:100%;
    height:100%;
    z-index: 9;
    position: absolute;
    display: table-cell;
    padding-top:0pt;
  }
  .Popup .panel{
    background: var(--bg-highlight-color);
    display:inline-block;
    padding:5pt;
    border:solid 1pt;
    border-color: var(--border-color);
    border-radius: var(--corner-radius);
    
  }