.SearchBar{
    margin-left:2pt;
    flex-grow: 1;
    display:flex;
  }
  .SearchBar input{
    flex-grow: 1;
    margin-top:1pt;
    margin-bottom:2pt;

  }
  


  .SearchBar .flowButton{
      position:relative;
      margin:0pt;
      padding:0pt;
      border: 1pt transparent;
      right:0pt;
      flex-grow: 1;
      background: transparent !important;
      vertical-align: middle;
      border-radius: 50%;
  }
  .SearchBar .flowButton img{
    width:16pt;
    height:16pt;

  }