.UserNotSignedIn{
    margin-top:13pt;
  }
  .userIcons{
    display:inline-block;
    margin-top:12pt;
  }
  .userButton{
    padding:10pt;
    padding-top: 16pt;
    background: radial-gradient(closest-side,#ffffff, #ffffffe0, #ffffff40, #ffffff00);
    margin-bottom: -10pt;
  }
  .userButton div{
    text-align: center;
  }
  
  .imgContainer{
    background: transparent;
  }
  .userImage{
    height:calc(0.8*var(--header-height));
    border-radius: 50%;
    }
  .userIcons button {
        margin:0pt;
        padding:0pt;
    }

